<article>
  <h1>{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2>{{page.subtitle}}</h2>
  {% endif %}
  <time>{{ page.date | date_to_long_string }}</time>

  <div class="content">
    {{ content }}
  </div>
  <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="18213596"></div>
</article>
<!--
  {% unless page.categories == empty %}
  <ul class="tag_box inline">
    <li><i class="glyphicon glyphicon-open"></i></li>
    {% assign categories_list = page.categories %}
    {% include JB/categories_list %}
  </ul>
  {% endunless %}

  {% unless page.tags == empty %}
  <ul class="tag_box inline">
    <li><i class="glyphicon glyphicon-tags"></i></li>
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
  </ul>
  {% endunless %}
-->